<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>
	<h1>Welcome to Bangabandhu Shop Management</h1>
	<h3>Please login here, </h3>

	<form method="post">
		Username: <input type="text" name="uname"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" name="" value="Submit">
	</form>
</body>
</html>